@charset "utf-8"

@import "./settings/variables"
@import "./theme/light"
@import "./theme/dark"

@import "./base/basic"
@import "./extra/aos"
@import "./elements/typography"

@import "./layout/navbar"
@import "./layout/aside"
@import "./layout/header"
@import "./layout/container"
@import "./layout/grid"
@import "./layout/footer"

@import "./elements/button"
@import "./components/snackbar"
@import "./components/card"
@import "./elements/form"
@import "./components/dropdown"
@import "./components/modal"
@import "./components/gotop_link"
@import "./components/details"
@import "./elements/table"
@import "./components/tabs"
@import "./extra/tooltip"
@import "./extra/pages"
@import "./extra/alert"
@import "./extra/wave"

@import "./utilities/alignment"
@import "./utilities/background"
@import "./utilities/position"
@import "./utilities/border"
@import "./utilities/display"
@import "./utilities/margin"
@import "./utilities/general"
@import "./utilities/padding"
@import "./utilities/spacer"
@import "./utilities/text"
@import "./gs"

main
	margin-top: 8rem
	.card
		font-size: 16px
		line-height: 1.5em
		text-rendering: optimizelegibility !important
		letter-spacing: .03em
.logo_wrapper
	margin: auto

$ripple-animation-length: 3s

#Main:hover #Icons > *,#Main.animate-on-load #Icons > *
	animation: ripple $ripple-animation-length
	transform-origin: center
	@for $i from 1 through 42
		&:nth-child(#{$i})
			animation-delay: 9ms * $i
#Main.animate-on-load #Icons > *
	animation: ripple 5s

@keyframes ripple
	0%
		transform: scale(1)
	20%
		transform: scale(0.7)
		opacity: 0.4
	40%
		transform: scale(1.1)
		opacity: 1
#Main
	width: 100%
	height: auto
	max-width: 514px
	max-height: 457px

#line-container,#cover-container
	position: fixed
	height: 50vh
	width: 20px
	left: calc( 50% - 10px )

#line-container,#cover-container
	z-index: -10
	top: 0

#cover-container
	position: absolute
	height: 70vh
	top: 0
	left: calc( 50% - 10px )
	width: 20px
	border-radius: 15px
	background: var(--bg)
	z-index: -9

.line
	position: absolute
	top: 0
	left: calc( 50% - 2px )
	height: 50vh
	width: 4px
	background: var(--primary)
	z-index: 5
.drop
	position: absolute
	bottom: 0
	left: calc( 50% - 10px )
	width: 20px
	height: 20px
	background: var(--primary)
	border-radius: 50%
	z-index: 5

.about_cards
	display: flex
	flex-direction: column
	gap: 6rem
.card
	transition: .3s border ease-in
.card.highlighted
	border-color: var(--primary)
