

* {box-sizing: border-box;}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html,body {
  margin: 0;
  padding: 0;
}

:root {
  --c1: #ddd;
  --c2: #173145;
  --c3: #566B78;
  --c4: #333;
}

body {
  background-color: var(--c1);
  color: var(--c3);
  font-family: 'Trebuchet MS', sans-serif;
  user-select: none;
}

main {
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
}

h1,h2,strong,a {
  color: var(--c4);
}

/* Navigation bar*/
nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

/*Headers & Pages*/
header {
  border-radius: 10px;
  background: linear-gradient(-45deg, #011422, #173145, #173145);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 2s ease-in;
  animation: gradientBG 2s ease-in;
  padding: 2em;
  text-align: center;
}
@-webkit-keyframes gradientBG {
  0% {background-position: left top}
  50% {background-position: right bottom}
  100% {background-position: left top}
}
@keyframes gradientBG {
  0% {background-position: left top}
  50% {background-position: right bottom}
  100% {background-position: left top}
}
header h1 {
  color: #FFFFFF;
  font-size: 2.5em;
}
section {margin: 10px;}
.pages>* {display: none;}
.pages>*:last-child {display: block;}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}
@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}
.pages>*:target {
  display: block;
  -webkit-animation: fade 300ms linear 1;
  animation: fade 300ms linear 1;
}
.pages>*:target~* {
  display: none;
}

.links a {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0.8em;
  text-decoration: none;
  -webkit-transition: ease-in-out all 200ms;
  transition: ease-in-out all 200ms;
  margin: 5px;
}

header a {
  width: 160px;
}

footer a {
  width: 50px;
  height: 50px;
  padding: 13px !important;
  border: none !important;
}



.links {
  display: inline;
}

footer svg {
  color: #252829;
}

.apteryx-hd {
  background-image: linear-gradient(54deg, #000000, #A81000);
}

.apteryx-hd a:hover {
  background: #A81000;
  border-color: #A81000;
}

.ntp-hd {
  background-image: linear-gradient(45deg, #053868, rgb(3, 114, 12));
}

.ntp-hd a:hover {
  background: #053868;
  border-color: #053868;
}

.cnt {
  border-radius: 8px;
  max-width: 50em;
  padding: 0;
  margin: 0 auto;
}

.cnt:not(.hm) {
  margin-top: 20px;
  padding: 10px;
  color: var(--c1);
  background: var(--c2);
}

.links,
.card-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cols a {
  color: #FFFFFF;
  text-decoration: none;
}

.cols h4 {
  margin: 5px;
}

.col,
.cols {
  width: 100%;
}

.cols {
  display: none;
}



.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 15px;
  line-height: 50px;
  background-color: var(--c2);
  border-bottom: 2px solid var(--c2);
}

.nav-tabs {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  list-style: none;
  padding: 0;
}

.nav-tabs a {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--c1s);
}

.nav-tab:last-child {
  border-right: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0;
    margin: 0;
  }

  .nav-wrapper {
    border-radius: 0;
  }

  .nav-cnt {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: var(--c2);
    color: var(--c1);
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab {
    margin: 0;
    border-right: unset;
    border-bottom: 2px solid #dddddd;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: auto;
    width: 20px;
    height: 15px;
    z-index: 2;
    padding: 18px;
    border-radius: 10px;
    box-sizing: unset;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #fff;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked+.menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked~.nav-cnt {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }

  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }

    to {
      transform: translateX(0);
    }
  }
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card {
  color: var(--c1);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--c2);
  border-radius: 8px;
  height: 100%;
  padding: 10px;
}

.card-f a {
  width: 100%;
}

.go_top {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 0;
  text-align: center;
  text-align: center;
  border-radius: 8px;
  padding: .5em;
  width: 50px;
  height: 50px;
  background-color: var(--c2);
}

.go_top.show {
  visibility: visible;
  opacity: 1;
}

.go_top.hide {
  visibility: hidden;
  opacity: 0;
}

.go_top svg {
  fill: #efefef;
  width: 24px;
  height: 30px;
}

/* Filter by tags */
#flt_tag {
  padding: 10px;
  background: var(--c2);
  border-radius: 8px;

}
.show {
  display: block;
}
.flt_btn:after,
.flt_btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 97%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dddddd;
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.flt_btn:hover:before,
.flt_btn.active:before {
  top: 0;
  transform: scale(1);
}

.flt_btn:hover:after,
.flt_btn.active:after {
  transform: scale(1);
}

.flt_btn.active {
  background-color: #DDDDDD;
  color: #252829;
}

.flt_btn {
  color: #dddddd;
  border: none;
  outline: none;
  padding: 12px 16px;
  position: relative;
  background-color: transparent;
}


footer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: var(--c2);
  border-top: 2px solid var(--c2);
  padding-top: 20px;
}

/***************************************************
 * Generated by SVG Artista on 2/6/2020, 4:45:15 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  stroke-dashoffset: 3391.037353515625px;
  stroke-dasharray: 3391.037353515625px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-1 {
  stroke-dashoffset: 0;
}
svg .svg-elem-2 {
  stroke-dashoffset: 3387.7763671875px;
  stroke-dasharray: 3387.7763671875px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-2 {
  stroke-dashoffset: 0;
}
svg .svg-elem-3 {
  stroke-dashoffset: 3383.84814453125px;
  stroke-dasharray: 3383.84814453125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-3 {
  stroke-dashoffset: 0;
}
svg .svg-elem-4 {
  stroke-dashoffset: 3380.08642578125px;
  stroke-dasharray: 3380.08642578125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-4 {
  stroke-dashoffset: 0;
}
svg .svg-elem-5 {
  stroke-dashoffset: 3376.909912109375px;
  stroke-dasharray: 3376.909912109375px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-5 {
  stroke-dashoffset: 0;
}
svg .svg-elem-6 {
  stroke-dashoffset: 3372.852783203125px;
  stroke-dasharray: 3372.852783203125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-6 {
  stroke-dashoffset: 0;
}
svg .svg-elem-7 {
  stroke-dashoffset: 3369.650634765625px;
  stroke-dasharray: 3369.650634765625px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
  transition: stroke-dashoffset 6s ease 0s;
}
svg.startA .svg-elem-7 {
  stroke-dashoffset: 0;
}
/* End of SVG Artista*/

.skills-prog ul {
  list-style-type: none;
  padding: 0;
}

.skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}

.skills-prog ul li:hover {
  color: #038b03;
}

.skills-prog ul li:hover .skills-bar .bar {
  background: #038b03;
  box-shadow: 0 0 0 1px #038b03;
}

.skills-prog ul li span {
  display: block;
  width: 120px;
}

.skills-prog ul li .skills-bar {
  background: #96969693;
  height: 4px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}

.skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -2px;
  height: 8px;
  background: #03a6bb;
  box-shadow: 0 0 0 #03a6bb;
  border-radius: 5px;
}

.bmc {
  line-height: 34px;
}

.bmc img {
  height: 34px;
  width: 35px;
  margin: auto;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.git_btn {
  position: relative;
  display: block;
  text-decoration: none;
  margin: auto;
  background-color: transparent;
}

.git_btn svg {
  position: absolute;
  fill: #173145;
  width: 40px;
  height: 40px;
}