@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.pages>* {
  display: none;
}

.pages>*:last-child {
  display: block;
}

.pages>*:target {
  display: block;
  -webkit-animation: fade 300ms linear 1;
  animation: fade 300ms linear 1;
}

.pages>*:target~* {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DDDDDD;
  color: #566B78;
  font-family: 'Lato', monospace;
  font-size: 18px;
  line-height: 1.5;
  user-select: none;
}

main {
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #000000;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
}

nav a {
  margin: 0 1rem;
  color: #566B78;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

header {
  border-radius: 10px;
  background: linear-gradient(-45deg,#2c2c2c,#131313,#252829);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 2s ease-in;
	        animation: gradientBG 2s ease-in;
  padding: 2em;
  text-align: center;
}

@-webkit-keyframes gradientBG {
  0%{background-position:left top}
  50%{background-position:right bottom}
  100%{background-position:left top}
}
@keyframes gradientBG {
  0%{background-position:left top}
  50%{background-position:right bottom}
  100%{background-position:left top}
}

header h1 {
  color: #FFFFFF;
  font-size: 2.5em;
}

section {
  margin: 10px;
}
.links a {
  border: 2px solid #FFFFFF;
 color: #FFFFFF;
 border-radius: 4px;
 font-size: 0.9em;
 letter-spacing: 0.1em;
 padding: 0.8em;
 text-decoration: none;
 -webkit-transition: ease-in-out all 200ms;
 transition: ease-in-out all 200ms;
 margin: 5px;
}
.home a {
  width: 160px;
}
footer a{
  width: 50px;
  height: 50px;
  padding: 13px!important;
  border: none!important;
}
.home a:hover {
  background: #000000;
  border-color: #000000;
}

.links {
  display: inline;
}

footer svg {
  color: #252829;
}

.nes-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#7C7C7C), to(#000000));
  background-image: linear-gradient(90deg, #7C7C7C, #000000);
}
.nes-header a:hover {
  background: #A81000;
  border-color: #A81000;
}

.cnt {
  max-width: 50em;
  padding: 0;
  margin: 0 auto;
}

.grid,
.links,
.card-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cols a {
  color: #FFFFFF;
  text-decoration: none;
}

.cols h4 {
  margin: 5px;
}



.col,
.cols {
  width: 29%;
  margin: 10px;
}

.cols {
  display: none;
  /* Hide all elements by default */
}

@media (max-width: 600px) {

  .col,
  .cols {
    width: 45%;
    margin: 8px;
  }
}

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 15px;
  line-height: 50px;
  background-color: #252829;
  border-bottom: 2px solid #252829;
}

.nav-tabs {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  list-style: none;
  padding: 0;
}

.nav-tabs a {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  text-decoration: none;
  color: #dddddd;
}

.nav-tab:last-child {
  border-right: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0;
    margin: 0;
  }

  .nav-wrapper {
    border-radius: 0;
  }

  .nav-cnt {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #252829;
    color: #dddddd;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab {
    margin: 0;
    border-right: unset;
    border-bottom: 2px solid #dddddd;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: auto;
    width: 20px;
    height: 15px;
    z-index: 2;
    padding: 18px;
    border-radius: 10px;
    box-sizing: unset;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #fff;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked+.menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked+.menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked~.nav-cnt {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }

  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }

    to {
      transform: translateX(0);
    }
  }
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card {
  color: #d6d6d6;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #252829;
  border-radius: 8px;
  height: 100%;
  padding: 10px;
}

.card-f a {
  width: 100%;
}

#goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 47px;
  height: 47px;
  z-index: 99;
  font-size: 20px;
  border: 2px solid #252829;
  outline: none;
  background-color: #dddddd;
  color: #252829;
  padding: 10px;
  border-radius: 4px;
}

#goTop:hover {
  background-color: #252829;
  color: #DDDDDD;
}




/* Filter by tags */
#flt_tag {
  padding: 10px;
  background: #252829;
  border-radius: 8px;

}

.show {
  display: block;
}

.flt_btn:after,
.flt_btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 97%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dddddd;
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.flt_btn:hover:before,
.flt_btn.active:before {
  top: 0;
  transform: scale(1);
}

.flt_btn:hover:after,
.flt_btn.active:after {
  transform: scale(1);
}

.flt_btn.active {
  background-color: #DDDDDD;
  color: #252829;
}

.flt_btn {
  color: #dddddd;
  border: none;
  outline: none;
  padding: 12px 16px;
  position: relative;
  background-color: transparent;
}


footer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #252829;
  border-top: 2px solid #252829;
  padding-top: 20px;
}
/***************************************************
 * Generated by SVG Artista on 2/6/2020, 4:45:15 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1 {
  stroke-dashoffset: 3391.037353515625px;
  stroke-dasharray: 3391.037353515625px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 3387.7763671875px;
  stroke-dasharray: 3387.7763671875px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 3383.84814453125px;
  stroke-dasharray: 3383.84814453125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 3380.08642578125px;
  stroke-dasharray: 3380.08642578125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 3376.909912109375px;
  stroke-dasharray: 3376.909912109375px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-5 {
  stroke-dashoffset: 0;
}

svg .svg-elem-6 {
  stroke-dashoffset: 3372.852783203125px;
  stroke-dasharray: 3372.852783203125px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-6 {
  stroke-dashoffset: 0;
}

svg .svg-elem-7 {
  stroke-dashoffset: 3369.650634765625px;
  stroke-dasharray: 3369.650634765625px;
  -webkit-transition: stroke-dashoffset 6s ease 0s;
          transition: stroke-dashoffset 6s ease 0s;
}

svg.startA .svg-elem-7 {
  stroke-dashoffset: 0;
}
